.CriarAeronaves {
    background-color: #282f55;
    height: 100vh !important;
    padding: 25px;
  }

  label, i{
    color: black;
  }
  div{
    padding: 10px;
  }
  small{
    color: red;
  }
  .error input{
    border-color: red;
  }
  .CriarAeronaves-logo {
    height: 40vmin;
    pointer-events: none;
  }
  .container-fluid{
    margin: 25px;
    background-color: #0b113b;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .CriarAeronaves-logo {
      animation: CriarAeronaves-logo-spin infinite 20s linear;
    }
  }
  
  .CiarAeronaves-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  /* .button {
    background-color:#61dafb;
    border-radius: 10px;
    font-size: 20px;
    height: 40px;
    width: 120px;
    text-transform: uppercase;

  } */
  
  .CriarAeronaves-link {
    color: #61dafb;
  }
  
  @keyframes CriarAeronaves-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  #label-temp {
    padding-right: 4px;
  }

  #label-peso {
    padding-right: 4px;
  }

  #label-vento {
    padding-right: 4px;
  }

  #label-vap {
    padding-right: 4px;
  }

  .logoAviaoCriar{
    display: flex;
        display: -webkit-flex;
        justify-content: left;
        align-items: left;
        margin-top: 15px;
        margin-bottom: 15px;
  }