#alertP{
  padding-top: 20px;
  font-size: 30px;
  font-family: ejaVu Sans Mono, monospace;
  margin: 0px;
  color: gray;
}

#resultP{
  font-size: 50px;
  font-family: ejaVu Sans Mono, monospace;
  margin: 0px;
  color: black;
}

.botaoFecharAlert{
  padding-top: 0px;
}

div#resultadoDiv{
  text-align: center;
}

.col-form-label-lg{
  font-size: 50px;
  font-family:DejaVu Sans Mono, monospace ;
}

#swal2-title{
  font-size: 60px;
  padding: 40px;
  padding-bottom: 0px;
  padding-top: 60px;
}
small{
  color: red;
}
#swal2-html-container{
  font-size: 25px;
}

#motor, #certificacao, #condicaoPista, #frenagem{
  background-color: #FFFFFF;
}

.formCalculo {
  background-color: #282f55;
  padding: 25px;
  height: 100vh !important;
}

.container-fluid{
  margin: 25px;
  background-color: #0b113b;
  padding: 10%;
}
.rounded{
  padding: 7px;
}

label, i{
  color: black;
}

h2{
  color: black;
  text-align: left;
}

/* #peso-aeronave, #altitude-aeronave, #temperatura, #valorVento, #vref, #velocidade-aeronave, #slope, #flap, #rev-inoperantes{
  border-color: red;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.select{
  -o-appearance: menulist !important;
  -moz-appearance: menulist !important;
  -webkit-appearance: menulist !important;
  appearance: menulist !important;
}

#logoAviaozinho{
  width: 40px;
  height: 40px;
}

#h3Calcular{
  text-align: left;
}

#h3AirplaneConfig{
  text-align: left;
}

.card-header, .card-footer{
  background-color: white;
  padding-top: 20px;
}

.logoAviaoCalculo{
  display: flex;
      display: -webkit-flex;
      justify-content: left;
      align-items: left;
      margin-top: 15px;
      margin-bottom: 15px;
}

/* footer {
  margin-top: 1rem;
  margin-bottom: -110px;
  padding: 1rem;
  background-color: #1C1C1C;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
} */