#erro{
  color: red;
  text-align: left;
}
#swal2-title{
  font-size: 62px;
}

.App {
  background-color: #282f55;
  padding: 25px;
  height: 100vh;
  text-align: center;
}

.form-field input:focus {
  outline: none;
}

.form-field.error input {
  border: 2px;
  border-color: red;
}

.form-field.success input {
  border-color: var(--success-color);
}


.form-field small {
  color: var(--error-color);
}

.container-fluid{
  margin: 25px;
  background-color: #0b113b;
  padding: 10%;
}
.rounded{
  padding: 7px;
}

label, i{
  color: black;
}

h2{
  color: black;
  text-align: left;
}

/* #peso-aeronave, #altitude-aeronave, #temperatura, #valorVento, #vref, #velocidade-aeronave, #slope, #flap, #rev-inoperantes{
  border-color: red;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.select{
  -o-appearance: menulist !important;
  -moz-appearance: menulist !important;
  -webkit-appearance: menulist !important;
  appearance: menulist !important;
}

#logoAviaozinho{
  width: 40px;
  height: 40px;
}

#h3Calcular{
  text-align: left;
}

#h3AirplaneConfig{
  text-align: left;
}

.card-header, .card-footer{
  background-color: white;
}
