.App {
  background-color: #282f55;
  padding: 25px;
  height: 100%;
  text-align: center;
}
#logoAviaozinho{
  width: 40px;
  height: 40px;
}
h2 {
  padding-top: 20px;
  text-align: left;
}
h3{
  padding-top: 10px;
  text-align: left;
}

footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(221, 221, 220);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}