.App {
  background-color: #282f55;
  padding: 25px;
  height: 100%;
}
#logoAviaozinho{
  width: 40px;
  height: 40px;
}
h2 {
  padding: 0px 0 10px 0;
  text-align: left;
}

#divLogoAviao{
padding: 0px;
}

h3{
  padding-top: 10px;
  text-align: left;
}

thead, th, tr, td, tbody {
  color: rgb(0, 0, 0);
  text-align: center;
  width: 10%;
}

a{
  margin: 5px;
}

footer{
  font-family: 'monospace';
  margin-top: 1rem;
  margin-bottom: -100px;
  padding: 1rem;
  background-color: #1C1C1C;
  color: white;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}