<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cabeçalho</title>

        <link rel="stylesheet" href="../css/cabecalho.css">
    </head>

    <header>
        <div style="background-color: #282f55;">
            <img src="/logo-embraer-removebg-preview.png" align:"left" alt="logo_embraer" class="img-empresa">
            <img src="/logo-equipe-removebg-preview.png" alt="logo_techdrivers" class="img-equipe">          
        </div>
    </header>

</html>